@charset "ISO-8859-1";

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

header {
	background-color: rgb(166, 89, 89); 
	display: flex;
	padding-left: 30px;
	width: 100%;
}

header>a{
	color: white;
	font-size: 70px;
	font-weight: 900;
	padding-bottom: 10px;
	text-decoration: none;
}

main {
	align-items: center;
	background-image: url("../images/bok.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	height: 600px;
	width: 100%;
}

.buy-form-container {
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	display: flex;
	height: auto;
	justify-content: center;
	margin-left: auto;
	line-height: 2;
	margin-right: auto;
	padding: 20px 20px 20px 20px;
	width: 50%;
}

form {
	color: #e6f2ff;
	font-size: 25px;
	display: grid;
	grid-template-columns: 30% 65%;
	column-gap: 5%;
	height: 80%;
	width: 100%;
}

.bill-form-container {
	color: #e6f2ff;
	font-size: 25px;
	display: grid;
	grid-template-columns: 50% 50%;
	height: 80%;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

input {
	background-color: rgb(255, 255, 230);
	border: none;
	outline: none;
	height: 40px;
	width: 100%;
}

input[type="submit"], .cancel {
	border: none;
	cursor: pointer;
	height: 40px;
}

input[type="submit"], .buy, .cancel {
	color: white;
	margin-top: 20px;
	width: 100%;
}

input[type="submit"], .buy {
	background-color: rgb(0, 153, 51);
}

.cancel {
	background-color: maroon;
	height: 36px;
	font-size: 15px;
	font-family: sans-serif;
	margin-top: 19px;
	padding-top: 3px;
	text-align: center;
	text-decoration: none;
	width: 70%;
}
