@charset "ISO-8859-1";

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden; 
}

header {
	background-color: rgb(166, 89, 89);
	display: flex;
	padding-left: 30px;
	width: 100%;
}

header>a {
	color: white;
	font-size: 70px;
	font-weight: 900;
	padding-bottom: 10px;
	text-decoration: none;
}

h1 {
	color: white;
	margin-left: 30px;
	margin-top: 26px;
}

h3 {
	color: maroon;
	text-align: center;
}

.order-list {
	background-color: beige;
	border: 2px solid maroon;
	border-radius: 20px;
	grid-template-columns: 35% 60%;
	height: 100px;
	line-height: 30px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	padding: 20px 20px 20px 20px;
	width: 40%;
	display: grid;
}

.order-list>div>img {
	border-radius: 10px;
	height: 100px;
	width: 100px;
}

.order-list>span {
	font-size: 18px;
	padding: 20px 20px 20px 20px;
}

.order-list>div {
	height: 100%;
	width: 100%;
}

form {
	background-color: rgb(232, 241, 250);
	border: 1px solid rgb(34, 101, 163);
	border-radius: 10px;
	display: grid;
	grid-template-columns: 30% 65%;
	gap: 5%;
	line-height: 40px;
	height: 250px;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	width: 50%;
	padding: 20px 20px 20px 20px;
	margin-left: auto;
}

label {
	font-size: 18px;
}

input {
	border: 1px solid rgb(34, 101, 163);
	height: 30px;
	outline: none;
}

input[type="button"] {
	background-color: rgb(24, 70, 115);
	border: none;
	border-radius: 10px;
	color: white;
	cursor: pointer;
	height: 30px;
	outline: none;
	width: 150px;
}

.total {
	display: flex;
	gap: 30px;
	margin-left: 400px;
}

.total>label {
	font-size: 18px;
	color: maroon;
	font-weight: 600;
}

.totalPrice {
	font-size: 25px;
	font-weight: 600px;
}

#container {
	align-content: center;
	background-color: rgb(211, 248, 220);
	border: 1px solid maroon;
	color: black;
	position: absolute;
	width: 400px;
	height: 200px;
	border-radius: 5px;
	left: 50%;
	margin-left: -160px;
	padding: 16px 8px 8px;
	box-sizing: border-box;
	display: none;
}

.yes {
	float: right;
	margin-left: auto;
	margin-right: auto;
}

#container .msg {
	text-align: left;
	padding: 10px 30px;
}